@import "reset";



	.container {
		color: white;
		text-shadow: 2px 2px 1px black; 
		width: 1000px;
		/*border: 1px solid red;*/
		margin: 0 auto;
		padding: 50px;
		font-family: sans-serif;

	}

	.main {

		background: url(images/jessesitebg.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-attachment: fixed;


	}




	.main .mainContent img {
		float: left;
		border-radius: 5%;
		padding-top: 25%;
		

	}

	.main .mainContent p {
		color: white;
		text-shadow: 2px 2px 2px black;
		float: left;
		text-align: bottom;
		font-size: 25px;
		font-weight: 200;
		padding-top: 60%;

	}

	.main .container h1 {
		margin-top: -3%;
		padding-left: 45%;
		position: fixed;
		


		
	
	}



	.toolBar a {
		
		font-size: 20px;
		padding: 10px;

	}

	
	a {
		color: white;
		text-shadow: 2px 2px 1px black;
		font-weight: 200;
		text-decoration: none;
		text-shadow: 2px 2px 2px black;
	}	

	.toolBar a:hover {
		color: grey;
		text-decoration: underline;

	}

	a:visited {
		color: white;
		text-shadow: 2px 2px 1px black;
	}
	
	
		

	/*about section*/
	



	.about {
		background: url(images/patterns/white_carbonfiber.png);
		padding: 0px;
	
	}


	.aboutJesse p {
		float: right;
		width: 50%;
		padding: 30px;
		line-height: 2em;
		font-size: 18px

	}

	.aboutJesse img {
		float: left;
		width: 30%;
		padding: 5px;
		

		


	}

	.aboutJesse .hobbies {
		float: left;
		width: 30%;
		padding-top: 7%;

	}


	
	


	/*past work section*/

	
	.portfolio {
		background: url(images/patterns/carbon_fibre.png);
		padding: 0px;
		line-height: 25px;
		

	}


	.videos iframe {
		width: 33%;
		padding-top: 30px;
		

	}

	
	.pastOne {
		float: left;
		width: 33%;
		
		
	}

	.pastTwo {
		float: left;
		width: 33%;
		
	}
	
	.pastThree {
		float: left;
		width: 33%;

		

	}

	.portfolio p,li {
		padding: 10px;

	} 

	.pastThree p {
		padding-left: 45px;
	}


	/*contact info section*/

	
	.social {
		background: url(images/patterns/white_carbonfiber.png);
		padding: 0px;
		
	}





	.social .container .socialText {
		float: left;
		width: 45%;
		

	}


	.social .container .socialText p {
		font-size: 30px;
		text-align: center;
		line-height: 1.5em;

	}

	.social .container .socialText a:hover {
		color: grey;
		text-decoration: underline;
	}



	.social .container .socialIcons {
		float: left;
		width: 50%;
		padding: 20px;

	}

	.social .container .socialIcons img {
		width: 15%;
		padding: 20px;
		

	}

	.social .container .socialIcons a:hover {
		color: grey;
		text-decoration: underline;		
	}

	

	

	


	/*footer*/

	
	.footer {
		background: url(images/patterns/carbon_fibre.png);
		padding: 0px;
		
		

	}

	.footer .container {
		padding: 10px;
		text-align: center;
		font-family: sans-serif;
	}


	.footer a {
		font-size: 20px;
		padding: 10px;
		color: white;
		text-shadow: 2px 2px 2px black;
	}

	.footer a:hover {
		color: grey;
		text-decoration: underline;
		
	}

	
	
	



